*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	border-collapse: collapse;
	font-family: 'Raleway', sans-serif;
	color: inherit;
}

*:focus {
	outline: none;
}

main a{
	color: #1d3457;
	font-weight: bold;
}

body, html{
	min-height: 100%;
	min-width: 100%;
	background-color: #e2e5ec;
}

#mce-modal-block.mce-in{
	z-index: 64998 !important;
}

.mce-window.mce-in{
	z-index: 64999 !important;
}

/*STATUS MESSAGE*/
div#status{
	position: fixed;
    top: 30px;
    transform: translateX(-50%);
    left: 50%;
    padding: 20px;
    background-color: #00a500;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-out;
    opacity: 0;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
    border-radius: 2px;
}

div#status.moving{
	top: 50px;
	opacity: 1;
}
/*END STATUS MESSAGE*/

/*DASHBOARD*/
div#dashboard div{
    padding: 10px;
    background-color: #fff;
    width: 500px;
	max-width: calc(100% - 20px);
    margin: 0px auto;
    color: #5f5f5f;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    margin-bottom: 20px;
}

div#dashboard div ul{
	list-style: none;
}

div#dashboard div ul li a{
	padding: 5px;
	display: block;
	transition: .2s ease-out;
}

div#dashboard div ul li a:hover{
	background-color: #e2e5ec;
}

div#dashboard div.warning {
    background-image: url(/cms/img/warning.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) 10px;
    background-size: 30px;
}

div#dashboard section, div#dashboard aside{
	display: inline-block;
    margin-right: 40px;
    vertical-align: top;
}

div#dashboard .mobileView {
	padding: 0px !important;
	width: 432px;
    height: 882px;
	max-width: 100%;
	background-image: url(/cms/img/iphone.png);
	background-size: 100%;
	background-repeat: no-repeat;
	box-shadow: none;
	background-color: transparent;
}

div#dashboard .mobileView iframe {
	border: 0px;
	display: block;
	width: 375px;
	height: 667px;
	position: relative;
	top: 106px;
	left: 28px;
}

div#dashboard div h2{
	margin-bottom: 10px;
}

div#dashboard div p span{
	font-style: italic;
	font-weight: bold;
}
	
div#dashboard div circle {
  fill: #FFF;
  stroke: #1d3457;
  stroke-width: 80;
  stroke-dasharray: 0 416;
  animation: fillup .5s linear;
  animation-fill-mode: forwards;
  margin-bottom: 10px;
}

div#dashboard div svg {
  transform: rotate(-90deg);
  background: #a6b0c7;
  border-radius: 50%;
  display: block;
  margin: 0px auto;
}

div#dashboard div svg ~ p{
	margin-top: 20px;
}

/*END DASHBOARD*/

/*CHECKBOXES AND RADIOBUTTONS*/
span.radio_checkbox{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: block;
}

span.radio_checkbox input[type=checkbox],
span.radio_checkbox input[type=radio]{
	display: none;
}

span.radio_checkbox label div{
	width: 15px;
	height: 15px;
	border: 1px solid;
	display: inline-block;
	margin-right: 10px;
}

span.radio_checkbox input[type=radio] + label div{
	border-radius: 15px;
}

span.radio_checkbox input[type=checkbox]:checked + label div{
	background-image: url(/cms/img/checkbox_active.png);
}

span.radio_checkbox input[type=radio]:checked + label div{
	background-image: url(/cms/img/radio_active.png);
}
/*END CHECKBOXES AND RADIOBUTTONS*/

/*LIGHTBOX*/
aside#cms-lightbox {
	display: none;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 65000;
}
	aside#cms-lightbox div#cms-lightbox-container{
		margin: 0px auto;
		max-width: 500px;
		width: calc(100% - 100px);
		background-color: #FFF;
		margin-top: 100px;
		box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
		position: relative;
		min-height: 100px;
		padding: 40px 10px 1px 10px;
		z-index: 65001;
		max-height: 700px;
		overflow-y: auto;
	}
		aside#cms-lightbox div#cms-lightbox-container div.dialogButtons{
			display: flex;
			margin-top: 10px;
		}
		aside#cms-lightbox div#cms-lightbox-container div.dialogButtons button.no{
			margin-right: 10px;
		}

		aside#cms-lightbox div#cms-lightbox-container div.dialogButtons button{
			background-color: #1d3457;
			border: 0px;
			color: #FFF;
			font-size: 15px;
			flex-grow: 1;
			padding: 10px;
			transition: .2s ease-out;
			cursor: pointer;
		}

		aside#cms-lightbox div#cms-lightbox-container div.dialogButtons button:hover{
			background-color: #365b94;
		}

		aside#cms-lightbox div#cms-lightbox-container > img{
			position: absolute;
			top: 5px;
			right: 5px;
			width: 30px;
			cursor: pointer;
		}

		aside#cms-lightbox div#cms-lightbox-container div#cms-lightbox-content div.cms-image-preview{
			width: calc(25% - 10px);
			height: 80px;
			display: inline-block;
			background-size: cover;
			background-position: center;
			margin: 5px;
			cursor: pointer;
		}

		aside#cms-lightbox div#cms-lightbox-container div#cms-lightbox-content div.cms-image-preview:hover{
			outline: 2px solid #2d8ac7;
		}

		aside#cms-lightbox div#cms-lightbox-container div#cms-lightbox-content div.cms-file-preview{
			margin-bottom: 10px;
			cursor: pointer;
			padding: 5px 0px 0px 0px;
		}
		
		aside#cms-lightbox div#cms-lightbox-container div#cms-lightbox-content div.cms-file-preview:hover{
			outline: 2px solid #2d8ac7;
		}

		aside#cms-lightbox div#cms-lightbox-container div#cms-lightbox-content div.cms-file-preview span {
			position: relative;
			bottom: 9px;
			left: 10px;
		}

		aside#cms-lightbox div#cms-lightbox-container div#cms-lightbox-content form input{
			display: none;
		}
		
		aside#cms-lightbox div#cms-lightbox-container div#cms-lightbox-content form label{
			background-color: #1d3457;
			color: #FFF;
			padding: 10px;
			margin-bottom: 10px;
			margin-left: 5px;
			display: inline-block;
			cursor: pointer;
		}
		
		aside#cms-lightbox div#cms-lightbox-container .image-align{
			position: relative;
			line-height: 0;
		}

		aside#cms-lightbox div#cms-lightbox-container .image-align img{
			max-width: 100%;
		}

		aside#cms-lightbox div#cms-lightbox-container .image-align span{
			width: 100%;
			height: 250px;
			position: absolute;
			left: 0;
			top: 0;
			background-color: rgba(255,255,255,0.2);
			border: 1px solid #fff;
			box-sizing: border-box;
		}
		
/*END LIGHTBOX*/

/*LOGIN*/
a.to_frontend,
a.forgot_password{
	padding: 10px 30px;
	position: relative;
	top: 10px;
	background-image: url(/cms/img/back.png);
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: 10px center;
	right: 20px;
	color: #000;
	font-weight: bold;
	transition: .2s ease-out;
	font-size: 20px;
}

a.to_frontend:hover,
a.forgot_password:hover,
a.to_frontend:focus,
a.forgot_password:focus{
	right: 0px;
	filter: invert(100%);
}

a.forgot_password{
	position: absolute;
	right: -20px;
	top: 0px;
	background-image: url(/cms/img/questionmark.png);
	background-position: calc(100% - 10px) center;
}

div#login_container{
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	background-color: #dedede;
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url(/cms/img/background_5.jpg);
	background-size: cover;
}
	div#login_container h1{
		font-size: 35px;
		letter-spacing: 2px;
		margin-bottom: 10px;
	}

	div#login_container p.message{
		margin: 10px 0px 5px 0px;	
	}

	div#login_container div#login-form-container{
		margin: 0px auto;
		width: 400px;
		margin-top: 200px;
	}

		div#login_container div#login-form-container form input[type=text],
		div#login_container div#login-form-container form input[type=password]{
			background-color: rgba(255,255,255,0.4);
			border: 1px solid rgba(255,255,255,0.6);
			padding: 10px;
			margin: 10px 0px 10px 0px;
			font-size: 20px;
			font-weight: lighter;
			transition: .2s ease-out;
			width: calc(100% - 20px);
			position: relative;
			right: 0px;
			bottom: 0px;
		}

		div#login_container div#login-form-container form > label span{
			position: relative;
			top: 5px;
			left: 20px;
			color: #FFF;
		}

		div#login_container div#login-form-container form > label {
			height: 32px;
			display: block;
		}

		div#login_container div#login-form-container form > label input{
			visibility: hidden;
		}
		
		div#login_container div#login-form-container form > label input:before{
			content: " ";
			display: inline-block;
			width: 25px;
			height: 25px;
			background-color: rgba(255,255,255,0.4);
			border: 1px solid rgba(255,255,255,0.6);
			visibility: visible;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}

		div#login_container div#login-form-container form > label input:checked:before{
			background-image: url("/cms/img/checkbox_login.png");
		}

		.inputTextColor:-webkit-autofill {
		    -webkit-text-fill-color: rgba(255,255,255,0.4);
		}

		div#login_container div#login-form-container form input[type=text]:focus,
		div#login_container div#login-form-container form input[type=password]:focus{
			box-shadow: 5px 5px 20px 10px rgba(0,0,0,0.1);
			right: 0px;
			bottom: 0px;
		}

		div#login_container div#login-form-container form input[type=submit]{
			background-color: rgba(0,0,0,0.5);
			border: 1px solid #000;
			padding: 10px;
			margin: 10px 0px 10px 0px;
			font-size: 20px;
			color: #FFF;
			width: calc(100% + 2px);
			cursor: pointer;
			transition: .2s ease-out;
		}

		div#login_container div#login-form-container form input[type=submit]:hover,
		div#login_container div#login-form-container form input[type=submit]:focus{
			background-color: rgba(0,0,0,0.8);
		}
p#version{
	position: fixed;
	bottom: 5px;
	left: 5px;
	font-size: 10px;
}
/*END LOGIN*/

/*NAVIGATION*/
nav{
	position: fixed;
	top: 0px;
	width: 200px;
	height: 100%;
	background-color: #dedede;
	left: -200px;
	transition: .3s ease-out;
	background-image: url(/cms/img/background_nav.jpg);
	background-size: cover;
	background-position: center;
	z-index: 10;
}
	
	nav p#navigation-version{
	    position: absolute;
		bottom: 5px;
		left: 5px;
		font-size: 10px;
		letter-spacing: 1px;
		font-weight: bold;
	}


	nav #menu{
		right: -46px;
		top: 14px;
		position: absolute;
		width: 30px;
		height: 18px;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;
	}

		nav #menu span{
			display: block;
			position: absolute;
			height: 2px;
			width: 100%;
			background: #1d3457;
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .3s ease-in-out;
			-moz-transition: .3s ease-in-out;
			-o-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
		}
	
		nav #menu span:nth-child(1) {
			top: 0px;
		}

		nav #menu span:nth-child(2), nav #menu span:nth-child(3) {
			top: 8px;
		}

		nav #menu span:nth-child(4) {
			top: 16px;
		}

nav.open{
	left: 0px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
	nav.open #menu span:nth-child(1) {
		top: 8px;
		width: 0%;
		left: 50%;
	}

	nav.open #menu span:nth-child(2) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	nav.open #menu span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	nav.open #menu span:nth-child(4) {
		top: 8px;
		width: 0%;
		left: 50%;
	}

	nav ul{
		box-shadow: -6px 1px 9px rgba(0,0,0,0.3);
	}

	nav li.subnav span, nav li a {
		cursor: pointer;
		display: block;
		padding: 10px;
		font-size: 17px;
		color: #000;
		background-color: rgba(255,255,255,0.5);
		transition: .2s ease-out;
	}

	nav li.subnav span:hover, nav li a:hover{
		background-color: rgba(255,255,255,0.9);
		padding-left: 20px;
	}

	nav li.subnav ul li a:hover{
		background-color: #9fa7c5;
	}

	nav li a.active {
		background-color: rgba(29, 52, 87, 0.7);
		color: #FFF;
	}

	nav ul li ul li a {
		background-color: #83899f;
		color: #FFF;
		padding-left: 20px;
	}
/*END NAVIGATION*/

/*MAIN*/
	main{
		display: block;
		max-width: 1240px;
		margin: 100px auto 100px auto;
		width: calc(100% - 40px);
	}

	main h1{
		margin: 17px 0px;
	}

	main p{
		margin: 8px 0px;
	}

	p.back{
		text-align: center;
		margin-top: 20px;
	}

	p.back a {
	    color: #1d3457;
	    font-weight: bold;
	} 

/*END MAIN*/

/*CMS-TABLE & CMS-FORM*/
	table.cms-table a{
		font-weight: normal;
		color: #000;
	}
	table.cms-table{
		width: 100%;
	}

		table div.form-label{
			font-size: 10px; 
			font-style: italic; 
			color: #888;
		}

		table.cms-table td{
			border-top: 1px solid #e2e5ec;;
    		padding: 10px;
    		background-color: #FFF;
			cursor: default;
		}

			table.cms-table tr.subtitle td {
				background-color: #93a5b7;
			}

			table.cms-table tr.title td {
				background-color: #1d3457;
				color: #FFF;
				letter-spacing: 1px;
			}

			table.cms-table tr.row:not(.no_hover):hover td{
				background-color: #bccfea;
			}

			table.cms-table td.cms-table-options{
				position: relative;
			}

				table.cms-table .directLink a{
					display: block;
					height: 100%;
				}

				table.cms-table td.cms-table-options > div{
					position: absolute;
					right: 0px;
					top: 0px;
					width: 40px;
					height: 100%;
					background-image: url(/cms/img/menu.png);
					background-position: center;
					background-size: 30px;
					background-repeat: no-repeat;
					cursor: pointer;
					transition: .2s ease-out;
				}

				table.cms-table td.cms-table-options > div.rmv{
					background-image: url(/cms/img/rmv.png);
				}

				table.cms-table td.cms-table-options > div:hover {
					background-color: #8da5bd;
				}

				table.cms-table tr.title td.cms-table-options > div:hover{
					background-color: #606794;
				}

				table.cms-table tr.title td.cms-table-options > div{
					background-image: url("/cms/img/menu_white.png");
				}

				table.cms-table tr.title td.cms-table-options > div.add {
					background-image: url(/cms/img/add_white.png);
				}
			
					table.cms-table td.cms-table-options ul{
						list-style: none;
						position: absolute;
						right: 40px;
						top: 15px;
						background-color: #FFF;
						box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
						display: none;
						transition: .2s ease-out;
						z-index: 10;
						border: 1px solid #1d3457;
						min-width: 150px;
					}

					table.cms-table td.cms-table-options.open ul{
						display: block;
					}

						table.cms-table td.cms-table-options ul li:hover{
							background-color: #bccfea;
						}

							table.cms-table td.cms-table-options ul li a{
								color: #000;
								text-decoration: none;
								display: block;
								padding: 8px;
								font-weight: normal;
								white-space: nowrap;
							}

				table.cms-table td a.media-document{
					font-weight: normal;
				}

				table.cms-table td a.media-document span{
					position: relative; 
					bottom: 8px; 
					left: 5px;
				}

				form.cms-form table.cms-table td input[type=text],
				form.cms-form table.cms-table td select,
				form.cms-form table.cms-table td input[type=password]{
					width: calc(100% - 20px);
					padding: 8px 10px;
					border: 1px solid #1d3457;
					transition: .25s ease-out;
				}

				form.cms-form table.cms-table td.cms-error input[type=text],
				form.cms-form table.cms-table td.cms-error select,
				form.cms-form table.cms-table td.cms-error textarea,
				form.cms-form table.cms-table td.cms-error span.radio_checkbox label div,
				form.cms-form table.cms-table td.cms-error div.mce-tinymce{
					border: 1px solid #d80000;
					color: #d80000;
				}

				form.cms-form table.cms-table td.cms-error label{
					color: #d80000;
				}

				form.cms-form table.cms-table td.cms-error input[type=file] + label{
					background-color: #d80000;
				}

                form.cms-form table.cms-table td textarea{
					height: 100px;
					width: calc(100% - 20px);
					padding: 10px;
					height: 400px; 
                }

				form.cms-form table.cms-table td textarea{
					height: 400px;
				}

				form.cms-form table.cms-table td input[type=text]:focus, 
				form.cms-form table.cms-table td input[type=password]:focus,
				form.cms-form table.cms-table td select:focus {
    				box-shadow: 0px 0px 10px rgba(29, 52, 87, 0.3);
				}

				form.cms-form table.cms-table td input[type=submit]{
					background-color: #1d3457;
					float: right;
					border: 0px;
					padding: 10px 20px;
					color: #FFF;
					font-size: 17px;
					cursor: pointer;
				}
				
				form.cms-form table.cms-table td input[type=submit]:hover{
					background-color: #4773b7;
				}

				form.cms-form table.cms-table td input[type=file]{
					width: 0.1px;
					height: 0.1px;
					opacity: 0;
					overflow: hidden;
					position: absolute;
					z-index: -1;
				}

				form.cms-form table.cms-table td input[type=file] + label {
						cursor: pointer;
					    background-color: #1d3457;
						float: right;
						border: 0px;
						padding: 10px 20px;
						color: #FFF;
						font-size: 17px;
						font-weight: normal;
						margin: 0px;
						transition: .2s ease-out;
				}

				form.cms-form table.cms-table td input[type=file]:focus + label,
				form.cms-form table.cms-table td input[type=file] + label:hover {
					background-color: #4773b7;
				}

				form.cms-form table.cms-table td select{
					width: calc(100% + 2px);
					-webkit-appearance: none;
					background-image: url(/cms/img/dropdown_arrow.png);
					background-repeat: no-repeat;
					background-position: calc(100% - 10px) center;
					background-size: 20px;
				}

				form.cms-form table.cms-table td input[type=checkbox]{
					margin: 10px 10px 11px 3px;
				}

				form.cms-form table.cms-table td label{
					margin: 7px 10px 8px 3px;
					display: inline-block;
				}

				form.cms-form table.cms-table td .image-gallery-element {
					width: 100px;
					height: 100px;
					display: inline-block;
					margin-right: 10px;
					background-size: cover;
					background-position: center;
				}

					form.cms-form table.cms-table td .image-gallery-element span{
						cursor: pointer;
						display: block;
						opacity: 0;
						background-color: rgba(0,0,0,0.5);
						width: 100%;
						height: 100%;
						background-image: url("/cms/img/bin.png");
						background-position: center;
						background-size: 50px;
						background-repeat: no-repeat;
						transition: .2s ease-out;
					}

					form.cms-form table.cms-table td .image-gallery-element:hover span{
						opacity: 1;
					}

main .cms-pagination{
	text-align: center;
	padding: 10px;
}

.calendar{
	display: flex;
	flex-wrap: wrap;
}

.calendar > div{
	width: calc(100% / 7);
}

.calendar > div.calendar-header{
	width: calc(100% / 7 - 10px);
}

.calendar-day{
	min-height: 100px;
	box-shadow: 0px 0px 0px 1px #e0e0e0;
	background-color: #FFF;
	padding-bottom: 3px;
}

.calendar .calendar-day:nth-of-type(7n+8){
	overflow: hidden;
}

.calendar-day.not_empty:hover{
	background-color: #f6f9ff;
}

.calendar-event a {
    display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
	padding: 3px;
}

.calendar-day label{
	display: inline-block;
	border-radius: 20px;
	width: 25px;
	height: 25px;
	line-height: 22px;
	text-align: center;
	color: #757575;
	margin: 5px 5px 0px 5px;
}

.calendar-day.today label{
	background-color: #4285f4;
	color: #FFF;
	font-weight: bold;
}

.calendar-day label.calendar-color{
	margin: 0px;
	width: 10px;
	height: 10px;
	margin-right: 1px;
	vertical-align: middle;
	position: relative;
	bottom: 1px;
	right: 3px;
}

.calendar-header {
    background-color: #FFF;
    box-shadow: 0px 0px 0px 1px #e0e0e0;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
    color: #757575;
}

.calendar-event {
    width: calc(100% - 12px);
    margin: 3px auto 0px auto;
    font-size: 12px;
}

.calendar-event.wide {
    width: calc(100% + 6px);
    position: relative;
    right: 6px;
}

.small.calendar-event {
    background-color: transparent !important;
}

.calendar-event.wide a{
    color: transparent;
}

.calendar-nav{
	background-color: #4285f4;
	color: #FFF;
	font-weight: bold;
	padding: 10px;
	position: relative;
	text-align: center;
}

.calendar-nav .prevMonth{
	top: 4px;
	left: 4px;
	background-image: url(/cms/img/calendar_prev.png);
}

.calendar-nav .nextMonth{ 
	background-image: url(/cms/img/calendar_next.png); 
	top: 4px;
	right: 4px;
}

.calendar-nav .prevMonth,
.calendar-nav .nextMonth{
	background-position: center;
	background-size: 12px;
	background-repeat: no-repeat;
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	cursor: pointer;
	border-radius: 20px;
	transition: .2s ease-out;
}

.calendar-nav .prevMonth:hover,
.calendar-nav .nextMonth:hover{
	background-color: #6ea4fd;
}

/* LOADER */
#loader-container{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	z-index: 10;
	display: none;
}

#loader-container .loader {
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loader-container .loader div {
  position: absolute;
  top: 27px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
#loader-container .loader div:nth-child(1) {
  left: 0px;
  animation: lds-ellipsis1 0.6s infinite;
}
#loader-container .loader div:nth-child(2) {
  left: 0px;
  animation: lds-ellipsis2 0.6s infinite;
}
#loader-container .loader div:nth-child(3) {
  left: 60px;
  animation: lds-ellipsis2 0.6s infinite;
}
#loader-container .loader div:nth-child(4) {
  left: 120px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0%	{transform: scale(0);}
  100%	{transform: scale(1);}
}
@keyframes lds-ellipsis3 {
  0%	{transform: scale(1);}
  100% 	{transform: scale(0);}
}
@keyframes lds-ellipsis2 {
  0% {transform: translate(0, 0);}
  100% {transform: translate(60px, 0);}
}

@media(max-width: 768px){
	.calendar > div{
		width: 100%;
	}

	.calendar .calendar-header,
	.calendar .calendar-day.empty{
		display: none;
	}
}