.gallery {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  .article {
    height: 200px;
    background-position: center center;
    background-size: cover;
  }
}
