<!DOCTYPE html>
<html>
<head>
	<title>Outdated Browser</title>
	<style type="text/css">
		body{
			color: #454545;
			background-color: #fefefe;
			line-height: 1.4;
			text-align: justify;
		}
		div{
			max-width: 800px;
			margin: 0px auto;
			padding: 20px;
			font-family: Open Sans,Arial;
		}
		h1{
			margin-bottom: -20px;
		}
		h2, h3{
			margin-bottom: -5px;
		}
		a{
			color: #07a;
		}
	</style>
</head>
<body>
	<div>
		<h1>You are using an outdated browser</h1>
		<p>The webpage you are trying to access uses features that are not supported by your browser.</p>
		
		<h2>Why do I see this page?</h2>
		<p>It seems, you are using a browser that is outdated, or now longer supported by the company that developed it. This means, that there are new features on the web that your browser does no longer support.</p>
		
		<h2>Why should I update my browser?</h2>
		<p>If you use a outdated browser, you will not be able to view more and more pages on the web, since they will update their technologie from time to time.<br>You will also be at risk since your browser is no longer supported and potential security holes won't be fixed.</p>

		<h2>How do I update my browser?</h2>
		<p>To view the content of this page, please use one of the following, supporting browsers.</p>
		<p>
			<a target="_blank" href="https://www.google.com/chrome">Google Chrome</a><br />
			<a target="_blank" href="https://www.mozilla.org">Mozilla Firefox</a><br />
			<a target="_blank" href="https://www.opera.com">Opera</a><br />
			<a target="_blank" href="https://www.microsoft.com/de-ch/download/internet-explorer-11-for-windows-7-details.aspx">Microsoft Internet Explorer <em>(version 10 upwards)</em></a><br />
			<a target="_blank" href="https://www.microsoft.com/en-gb/windows/microsoft-edge">Microsoft Edge <em>(Only Windows 10)</em></a><br />
		</p>

		<h3>I don't want any of that</h3>
		<p>If you really don't want to update your browser, you can go back to the page you came from here<br>
		<a href="javascript:window.history.back();">Back</a>
		</p>
	</div>
</body>
</html>