
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  border-collapse: collapse;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  outline: none;
}

body {
  background-color: $colorBackground;
  color: $colorText;
}