strong,
b {
  font-weight: 400;
}

a {
  color: $colorLink;
}

h1 {
  font-weight: 100;
  font-size: 34px;
}

p {
  margin-top: 0.8em;
  margin-bottom: 1.6em;
  font-size: 17px;
  text-align: justify;
}

table p {
  text-align: left;
}
